aiohappyeyeballs
aiohttp
aiosignal
asyncio
attrs
bidict
certifi
charset-normalizer
coloredlogs
frozenlist
h11
humanfriendly
idna
multidict
packaging
propcache
python-engineio
python-socketio
requests
simple-websocket
typing_extensions
urllib3
wsproto
yarl
watchfiles
uvicorn